body {
	font-family: "Open Sans", "Ubuntu Condensed";
	font-size: 12px;
	background: #303030 url(/app/frontend/images/v_blitzplay_1920x1200.jpg) top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.thumbnail-topic-short {
	margin-top: 5px;
	position: relative;
}

.thumbnail-topic-short-cut {
	position: absolute;
	bottom: 0;
	right: 0;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

#bg_overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 106%;
	position: fixed;
	z-index: -4;
	top: -16px;
	left: 0;
}

a {
	color: #333;
}

a:hover {
	color: #8F0000;
}

.panel-heading {
	font-weight: bold;
}

#topic_polls .media {
	padding: 10px;
	border-top: 1px solid #ddd;
}

#topic_polls .media:nth-child(even) {
	background: #F7F7F7;
}

.poll .poll-title {
	font-size: 14px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}

.poll {
padding: 10px;
background: #F7F7F7;
border-top: 1px solid #ddd;
}

.poll .poll-answers .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

.poll .poll-answers label {
/*padding-left: 5px;*/
}

.poll .poll-answers input {
position: relative;
top: 3px;
margin-right: 5px;
}

.poll .poll-answers table.polling-results {
	width: 100%;
	font-size: 12px;
	border: 0;
	margin-bottom: 0;
}

.poll .poll-answers table.polling-results tr td.percent {
width: 1%;
text-align: right;
word-wrap: normal;
word-break: normal;
padding-right: 10px;
}


.poll .poll-answers table.polling-results tr td {
	border: 0;
}
.poll .poll-answers table.polling-results tr td .bar {
height: 12px;
background: #dadacd;
margin-top: 3px;
border-radius: 3px;
}

.poll .poll-answers table.polling-results tr.winner td .bar {
	background: #f90;
}

.poll .poll-actions {
	margin-top: 20px;
}

.sb {
}
.sb-image {
	width: 100%;
}

.footer {
	background-color: #121212;
	border-top: 3px #FFA819 solid;
	margin-top: 10px;
	clear: both;
}

.footer-wp {
	padding: 15px 25px;
	color:#444;
}

.footer-nav {
	margin-left: 25px;
}

.footer-nav a {
	color: #fff;
}
.footer-nav a:hover {
	color: #fff;
	text-align: underline;
}

.footer-brand {
	text-transform: uppercase;
}

.alert {
border-top: 0;
border-left: 0;
border-right: 0;
margin-bottom: 0;
}

.panel-noborder {
	border: none;
	margin-bottom: 0;
}

.header {
	margin-top: 25px;
	padding-left: 15px;
}

.header-nav a {
	color: #333;
	font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
	font-size: 22px;
	border-radius: 3px !important;
}

.header-nav .nav li:first-child a {
	background: #f1f1f1;
}

.header-nav .nav-pills>li.active>a,
.header-nav .nav-pills>li.active>a:hover,
.header-nav .nav-pills>li.active>a:focus {
color: #fff;
background-color: #8F0000;
box-shadow: inset 0 -6px 16px #860A0A, 0 1px 3px #fff;
}

.header-nav .nav-pills>li>a {
padding: 4px 25px;
}

.header-userbar {
	padding: 25px 0;
}

.header-lastnews {
	margin-top: 25px;
}

.header-lastnews .panel {
	background: none;
	border:none;
	box-shadow: none;
	margin-bottom: 0;
}

.header-lastnews .panel-heading {
	background: none;
	font-size: 22px;
	font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
	color: #333;
	font-weight: bold;
	border-bottom: 1px solid #8F0000;
}

.btn {
	border-radius: 3px;
}

.wrapper {
	margin-top: 15px;
	margin-bottom: 50px;
	box-shadow: 0 0 15px #777;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #777;
}

.content {
	background: #fff;
}

.content .page-header {
	color: #5f5f5f;
	font-size: 15px;
	text-transform: uppercase;
	padding: 8px 14px;
	background: #e5e5e5;
	position: relative;
	margin: 0;
	border-bottom: 1px solid #D8D8D8;
}

.content .page-header h1 {
	font-size: 18px;
	padding: 0;
	margin: 0;font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
}

.home-media {
	padding: 10px;
}

.home-media .thumbnail {
	padding: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	border: none;
}

.home-media .thumbnail .caption {
	padding: 10px;
}

.home-media .thumbnail .caption h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.caption-footer {
	border-top: 1px solid #ddd;
	padding: 5px 10px;
	font-size: 11px;
}


.sidebar {
	padding: 15px;
	padding-top: 0;
	padding-right: 0;
}

.listnav .list-group {
	box-shadow: none;
	margin-bottom: 0;
}

.listnav .list-group a.list-group-item {
	background: none;
	border: none;
	box-shadow: none;
	color: #222;
	padding: 5px 10px;
	margin: 5px 0;
	border-radius: 5px;
}

.listnav .list-group a.list-group-item:hover {
	background: rgba(223, 223, 223, 0.4);
	color: #000;
}

.listnav .list-group a.list-group-item.active.disabled {
	color: #000;
	padding-left: 15px;
}

.col-r {
	/*padding-right: 20px;*/
}

.col-l {
	/*padding-left: 20px;*/
	padding-right: 20px;
}

.alert {
	padding: 10px;
	font-size: 12px;
}

.panel-nav .panel-heading {
	font-weight: bold;
}

.panel-nav .panel-body {
	padding: 0;
}

.panel-nav .list-group {
	margin-bottom:0;border:none;box-shadow:none;
}

.panel-nav .list-group-item {
	border:none;
}

.panel-nav .list-group-item.active {
	background: #F4F4F4;
	color: #000;
	text-shadow: 0 1px 3px #fff;
	font-weight: bold;
}

.panel-nav .list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #fff;
	background-color: #777;
}

.panel-nav hr {
	margin: 0;
	margin-top: 1px;
}

.panel-filter .panel-heading .form-control {
	height: 24px;
	width: 50px;
	font-size: 11px;
	position: relative;
	top: -3px;
}

.panel-filter .panel-body {
	padding-right: 0;
}

.panel-filter-col {
	padding-right: 15px;
}

.panel-filter .panel-body hr {
	margin: 15px 0;
}

.panel-filter .panel-body .form-inline .checkbox {
	margin-right: 10px;
}

.panel-filter .panel-body .form-inline .checkbox input {
	position: relative;
	top: 2px;
}

.panel-sidebar {
	overflow: hidden;
}

.panel-default>.panel-heading {
	background: #e5e5e5;
}

.panel-sidebar.panel-userbar .alert {
	margin-bottom: 15px;
}

.panel-sidebar.panel-userbar .list-group {
	margin-bottom: 0;
}

.pdr-15 {
	padding-right: 15px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.topic-top_counters {
	padding: 5px 10px;
	background: #F7F7F7;
	border-bottom: 1px solid #ddd;
}

.topic-content {
	padding: 5px;
	line-height: 21px;
	padding-top: 10px;
}

.topic-content hr {
	clear: both;
}

.topic-content p:before,
.topic-content p:after {
	content: " ";
	display: table;
	clear: both;
}

.topic-content a {
	color: #000;
}

.media-content_topic {
	padding: 0;
}

.topic-content .center-block img{
	max-width: 100%;
}

.topic-content .thumbnail {
	margin-bottom: 0;
	max-width: 150px;
	padding: 0;
	border: 0;
}

.topic-content .thumbnail-inline {
	display: inline-block;
}

.topic-content .blog-topic-image-link_pull_left img {
	margin-right: 10px;
}

.topic-content .blog-topic-image-link_pull_right img {
	margin-left: 10px;
}

.topic-content .blog-topic-image-link_pull_right img,
.topic-content .blog-topic-image-link_pull_left img {
	width: 150px;
}

.blog-topic-image-link_pull_center {
	display: block;
}


/*Для media блоков*/
.thumbnail-topic-short .blog-topic-image-link_pull_center .thumbnail {
	display: block;
	box-shadow: none;
	float: none;
	width: auto;
	margin-bottom: 0;
}

.thumbnail-topic-short .blog-topic-image-link_pull_right .thumbnail,
.thumbnail-topic-short .blog-topic-image-link_pull_left .thumbnail {
	box-shadow: none;
	max-width: 150px;
	margin-bottom: 0;
	margin-right: 10px;
}

.thumbnail-topic-short .blog-topic-image-link_pull_right .thumbnail {
	margin-left: 10px;
}

.nav-us {
	display:block;position:relative;
	padding-left: 20px;
}

.nav-us_ava {
	position: absolute;
	left: -21px;
	top: 7px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
}

.nav-us_name {
	font-weight: bold;
	color: #fff;
}

.topic-content h1,
.topic-content h2,
.topic-content h3,
.topic-content h4,
.topic-content h6,
.topic-content h5 {
	color: #333;
	margin: 20px 0;
	font-size: 16px;
	font-family: sans-serif;
}

.topic-content h1 { font-size: 18px; }
.topic-content h2 { font-size: 17px; }
.topic-content h3 { font-size: 16px; }
.topic-content h4 { font-size: 15px; }
.topic-content h5 { font-size: 14px; }
.topic-content h6 { font-size: 13px; }

.comment-heading {
	position: relative;
	padding-left: 50px;
}

.comment-rating {
	position: absolute;
	right: 0;
	top: 0;
}

.comment-rating-val {
	padding: 0 6px;
font-weight: bold;
}

.comment-message {
	margin-top: 12px;
font-size: 11px;
line-height: 16px;
color: #383838;
}

.comment-message .comment-link {
	font-weight: bold;
}

.comment {
	padding: 5px 10px;
border-radius: 2px;
position: relative;
margin-top: 5px;
background: #f2f2f2;
border-left: 10px solid #9F9F9F;
}

.comment_answer {
background: #ffffff;
border-left: 5px solid #005AA0;
}

.comment-arrow {
background: url(http://www.oletter.org/img/arrow.gif) no-repeat center;
width: 40px;
height: 20px;
position: absolute;
left: -43px;
top: 3px;
}

.comment-ava {
	position: absolute;
	left: 10px;
	top: 10px;
}

.comment-ava img {
	border-radius: 50%;
}

.comment:hover {
	background: #f1f1f1;
}

.group-admin {
	color: #910000;
}

.sidebar-blog-description p:last-child {
	margin-bottom: 0;
}

.sidebar-blog-description {
	font-size: 11px;
	line-height: 18px;
	padding: 10px;
}

.modal-header {
	border-radius: 0px !important;
}

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
cursor: move;
}

.media-heading {
	position: relative;
}

.bl-rat {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 3px 7px;
	background: #ddd;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
}

.bl-rat_green {
	background: rgb(63, 202, 63);
	color: #fff;
}

.bl-rat_red {
	background: rgb(202, 63, 63);
	color: #fff;
}

.topic-author {
	float: right;
	height: 42px;
	overflow: hidden;
	line-height: 21px;
}

.topic-rating {
	border-radius: 3px;
	overflow: hidden;
	background: #ddd;
	float: left;
	border: 1px solid #777;
}

.topic-rating-down,
.topic-rating-up,
.topic-rating-val {
	font-size: 22px;
	float: left;
	height: 40px;
	display: block;
	line-height: 40px;
	padding: 0 10px;
}

.topic-rating-down {
	border-right: 1px solid #777;
}

.topic-rating-up {
	border-left: 1px solid #777;
}

.topic-rating-val {
	padding: 0 20px;
}

.topic-rating-up:hover {
	color: rgb(0, 124, 0);
}

.topic-rating-val {
	font-weight: bold;
	font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
	font-size: 28px;
}

.topic-rating-val_red {
	color: #FFFFFF;
	background: #930808;
	text-shadow: 0 1px 3px #5E0000;
}

.topic-rating-val_green {
	color: white;
	background: rgb(0, 124, 0);
	text-shadow: 0 1px 3px #066100;
}

.topic-rating-notactive {
	color: gray;
}

.topic-rating-notactive:hover {
}

.topic-rating-active {
	/*display: none;*/
}

.media-gray {
	margin-top: 0;
	background: #fff;
	padding: 10px;
	border: none;
	border-bottom: 5px solid #E0E0E0;
	padding: 0;
	margin: 12px 10px;
	padding: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	border: none;
	margin-bottom: 0;
}

.media-gray-wrapper {
	padding: 10px;
}

.media-footer {
	background: #F7F7F7;
	padding: 10px;
	border-top: 1px solid #E0E0E0;
}

.media-content {
	text-indent:10px;margin-top:10px;
}

.media-content p:last-child {
	margin-bottom: 0;
}

.pagination {
	width: 100%;
	margin-top: 0;
	margin: 0;
	overflow: hidden;
	margin: 10px;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	border: none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	z-index: 2;
	color: #333;
	font-weight: bold;
	background-color: #F4F4F4;
	border: none;
	cursor: default;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 4px 15px;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	border: none;
	margin-left: -1px;
	background: #ff9400;
	margin-right: 5px;
	font-size: 14px;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	border-radius: 5px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
background: #FAB703;
box-shadow: 0 0 0 1px rgba(0,0,0,.03)inset,0 1px 10px rgba(0,0,0,.3)inset;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-radius: 5px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 5px;
}

.blog-topic-iframe {
position: relative;
display: block;
height: 0;
padding: 0;
overflow: hidden;

padding-bottom: 56.25%;
}

.blog-topic-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	border: 0;
}

.blog-topic-iframe_soundcloud,
.blog-topic-iframe_soundcloud iframe {
	height: 166px;
	padding: 0;
}

.navbar {
	background: #000;
	border:none;
	border-bottom: 3px #FFA819 solid;
	margin-bottom: 8px;
	position: relative;
	z-index: 1000;
	box-shadow: 0 1px 10px #000;
}

.navbar-default .navbar-brand {
	color: #fcb131;
	text-transform: uppercase;
	font-size: 18px;
	margin-right: 25px;
	padding-left: 25px;
}

.navbar-default .navbar-brand:hover {
	color: #fcb131;
	opacity: .7;
}

.navbar-default .navbar-nav>li>a {
	line-height: 16px;
	padding: 0;
	padding: 5px 10px;
	margin-top: 9px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 2em;
	margin-right: 3px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
	background: #f90;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	text-decoration: none;
	color: #fff;
	background: #666;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-top: 13px;
	background: #000;
	box-shadow: 0 1px 10px #000;
}

.navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-nav>li>.dropdown-menu>li>a:focus {
	background: #666;
}

.navbar-nav>li>.dropdown-menu .divider {
	background-color: #525252;
}

.navbar-nav>li>.dropdown-menu>li>a {
	padding: 3px 10px;
	color: #fff;
}

.navbar-nav.navbar-right {
	margin-right: 25px;
}

.sblock {
	margin-bottom: 12px;
	background: #FFF;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	box-shadow: 0 0 15px rgba(0,0,0,.9);
	position: relative;
}

.sblock-nav {
background-color: #222;
color: #fff;
}

.sblock-heading {
	padding: 5px 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.sblock-nav .sblock-heading {
	color: #e8e8e8;
}

.sblock-nav .sblock-body a {
	display: block;
	color: #f2f2f2;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 7px 10px;
	text-decoration: none;
	background: #222;
	border-right: 3px solid #222;
	font-size: 12px;
}

.sblock-nav .sblock-body a:hover {
	border-right: 3px solid #fff;
	background-color: rgba(255,255,255,.05);
}

.sblock_white.sblock-nav {
	/*background: #fff;*/
}

.sblock_white.sblock-nav .sblock-heading {
	background: #e5e5e5;
	color: #333;
}

.btn-primary {
	background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
	background-image: -o-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0ad4e), to(#eb9316));
	background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #e38d13;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #eb9316;
	background-position: 0 -15px;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
background-color: #f0ad4e;
border-color: #eea236;
}

.panel-default>.panel-heading .badge-success,
.badge-success {
	background: #419641;
}
.panel-default>.panel-heading .badge-danger,
.badge-danger {
	background: #e7c3c3;
}

.panel-sidebar_topic_commented {
	border: 0;
}

.panel-sidebar_topic_commented .panel-body {
	padding: 0;
	background: #000;
}

.panel-sidebar_topic_commented .panel-body .thumbnail {
	border: 0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #fcb131;
	background: #000;
}

.panel-sidebar_topic_commented .panel-body .thumbnail:hover {
	opacity: 0.9;
}
	
.panel-sidebar_topic_commented .panel-body .thumbnail .thumbnail-link-image {
	display: block;
	padding: 10px;
	padding-bottom: 0;
}

.panel-sidebar_topic_commented .panel-body .thumbnail .caption h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	color: #f90;
}

.panel-sidebar_topic_commented .panel-body .thumbnail .caption h3 a {
	color: #fff;	
}

.panel-sidebar_topic_commented .panel-body .thumbnail .caption h3 a:hover {
	color: #f90;
	text-decoration: none;
}

.panel-sidebar {
	margin-bottom: 12px;
}

.alerts {
}

.alert-danger,
.alert-info,
.alert-success,
.alert-warning {
	border: none;
	background: #FFC777;
	color: #000;
	text-shadow: 0 1px 3px #E4B36E;
	padding: 10px 15px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.21);
	margin-bottom: 12px;
}

.alert-success {
	border: none;
	background: #c8e5bc;
	color: #333;
	text-shadow: 0 1px 3px #D7EDCE;
}

.alert-danger {
	background: #e7c3c3;
	color: #000;
	text-shadow: 0 1px 3px #FFDADA;
}

.alert-info {
	background: #b9def0;
	color: #000;
	text-shadow: 0 1px 3px #E4F6FF;
}

blockquote {
	font-size: 12px;
	border-left: 5px solid #F1B867;
	line-height: 20px;
}

.panel-sidebar_vote_random .panel-body {
	padding: 0;
}

.panel-sidebar_vote_random .poll-title {
	display: none;
}

.panel-sidebar_vote_random .poll {
	/*padding: 0;*/
}

.panel-sidebar_vote_random .poll-actions {
	text-align: center;
}

.panel-sidebar_vote_random .poll-answers .radio:first-child {
	margin-top: 0;
}

.panel-sidebar_vote_random .poll-answers .radio:last-child {
	margin-bottom: 0;
}

.panel-sidebar_image_upload .panel-body,
.panel-sidebar_file_upload .panel-body {
	padding: 0;
}

.panel-sidebar_image_upload .panel-body .media,
.panel-sidebar_file_upload .panel-body .media {
	padding: 10px;
	margin: 0;
}

.panel-sidebar_image_upload .panel-body .media:nth-child(even),
.panel-sidebar_file_upload .panel-body .media:nth-child(even)
{
	background: #F5F5F5;
	border-top: 1px solid #ddd;
}

.panel-sidebar_image_upload .panel-body .media:hover,
.panel-sidebar_file_upload .panel-body .media:hover {
	background: #f1f1f1;
}

.panel-sidebar_image_upload #images_empty,
.panel-sidebar_file_upload #files_empty {
	padding: 10px;
}

.panel-sidebar_image_upload .media-body h4,
.panel-sidebar_file_upload .media-body h4 {
	font-size: 11px;
	font-weight: bold;
	word-break: break-word;
}

.panel-sidebar_image_upload .media .btn-group,
.panel-sidebar_file_upload .media .btn-group {
	margin-top: 5px;
}

.panel-sidebar_image_upload .media .btn-group .btn,
.panel-sidebar_file_upload .media .btn-group .btn {
	font-size: 11px;
	font-weight: bold;
	padding: 1px 5px;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
	.header {
		margin-left: 10px;
		margin-right: 10px;
	}
	.content {
		margin: 0;
	}
	.navbar {
		margin-bottom: 0;
	}
	.sidebar {
		padding: 0;
		padding-top: 12px;
	}
}