body {
	font-family: "Open Sans", "Ubuntu Condensed";
	font-size: 12px;
}

.navbar {
	padding: 0 20px;
}

.navbar-brand {
	margin-right: 20px;
	font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
}

.navbar-form .form-control {
	height: 29px;
	padding: 0 8px;
	margin-top: 2px;
}
.navbar-form .btn {
	padding: 4px 9px;
	font-size: 12px;
	margin-top: 2px;
}

.col-r {
	/*padding-right: 20px;*/
}

.col-l {
	/*padding-left: 20px;*/
	padding-right: 20px;
}

.alert {
	padding: 10px;
	font-size: 12px;
}

.panel-nav .panel-heading {
	font-weight: bold;
}

.panel-nav .panel-body {
	padding: 0;
}

.panel-nav .list-group {
	margin-bottom:0;border:none;box-shadow:none;
}

.panel-nav .list-group-item {
	border:none;
}

.panel-nav .list-group-item.active {
	background: #F4F4F4;
	color: #000;
	text-shadow: 0 1px 3px #fff;
	font-weight: bold;
}

.panel-nav .list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #fff;
	background-color: #777;
}

.panel-nav hr {
	margin: 0;
	margin-top: 1px;
}

.panel-filter .panel-heading .form-control {
	height: 24px;
	width: 50px;
	font-size: 11px;
	position: relative;
	top: -3px;
}

.panel-filter .panel-body {
	padding-right: 0;
}

.panel-filter-col {
	padding-right: 15px;
}

.panel-filter .panel-body hr {
	margin: 15px 0;
}

.panel-filter .panel-body .form-inline .checkbox {
	margin-right: 10px;
}

.panel-filter .panel-body .form-inline .checkbox input {
	position: relative;
	top: 2px;
}

.pdr-15 {
	padding-right: 15px;
}